$primary-color: #3a0ca3;
$blue-color: #4361ee;
$lite-blue: #4cc9f0;
$dark-purple: #7209b7;
$lite-purple: #f72585;
$text-colour1: #0b090a;
$text-colour2: #2b2b2b;
$text-colour3: #808080;
$text-colour4: #aaaaaa;
$text-colour5: #d4d4d4;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.info {
  background-color: $primary-color;
}

.info_wrappers {
  height: 40px;
}

.info .adress {
  margin-bottom: 0 !important;
  color: #ffffff;
}

.phone_number {
  margin-bottom: 0 !important;
  color: #ffffff;
}

.my_email {
  margin-bottom: 0 !important;
  color: #ffffff;
}

.nav_bar {
  height: 80px;
  background-color: #ffffff !important;
}

.nav_menu > li > a {
  color: $text-colour2;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 30px;
}

.nav_menu > li > a:hover {
  background-color: #4361ee4d;
  transition: all 0.3s;
}

.nav_btn {
  background-color: transparent;
}

.wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1e1e1e;
}

.login {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $text-colour2;
}

.nav_btn_2 {
  background-color: $primary-color;
  border-radius: 50px;
}

.btn_listing {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn_wrap {
  padding: 15px 26px;
}

.back_ellipse {
  width: 100%;
  height: 802px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  border-radius: 0px 0px 1000px 1000px;
}

.mobile_header {
  display: none;
}

/***/
.back_ellipse {
  .mini_ellipse {
    position: absolute;
    top: 265px;

    right: -25px;
  }
  .container {
    .hero_wrap {
      margin-top: 89px;

      .hero_left {
        position: relative;
        padding-left: 60px;

        .left_estet {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          letter-spacing: 15%;
          color: #4361ee;
        }

        .left_h1 {
          font-weight: 600;
          font-size: 57.3px;
          line-height: 65px;
          color: $text-colour1;
        }

        .left_lorem {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: $text-colour3;
          margin-top: 40px;
        }

        .carousel_slide {
          width: 540px;
          height: 340px;

          margin-top: 40px;
          border-radius: 20px;

          .carousel-inner {
            display: flex;
            align-items: center;
            .carousel_img {
              width: 540px;
            }
          }

          .carousel-control-next.horizontal {
            top: 45%;
            right: -20px;
            border: none;
          }
          .carousel-control-prev.horizontal {
            top: 45%;
            left: -14px;
            border: none;
          }

          .carousel-indicators {
            top: 350px;
            justify-content: space-between;
            margin-right: 13px;
            margin-left: 13px;
            gap: 20px;
            button {
              flex: 1;
              border: 1px solid #f1f1f1;
              // width: 100px;
            }
          }
          .carousel-indicators .active {
            background-color: #4361ee;
          }
        }
      }
    }
    .hero_right {
      padding-right: 0;

      .cards {
        width: 420px;
        height: 582px;
        background-color: #ffff;
        border-radius: 30px;

        margin-top: 66px;
        box-shadow: 10px 30px 50px 0px #0000000d;

        ul {
          width: 100%;
          height: 80px;
          background-color: #ffff;
          border-radius: 30px 30px 0 0;
          display: flex !important;
          justify-content: space-between;
          align-items: center;
          padding: 0 82px;
          margin: 0 auto;
          border-bottom: 1px solid $text-colour3;
          flex-wrap: nowrap;
          li {
            list-style: none;

            .nav-link {
              font-weight: 500;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour3;
              position: relative;
              padding: 0 10px;

              border: none;

              &::after {
                position: absolute;
                // display: none;
                content: "";

                width: 0;
                height: 4px;
                border-radius: 20px;
                background-color: $primary-color;
                left: -0;
                bottom: -28px;
              }
              &:hover {
                color: $primary-color;
                font-weight: 500;
                &::after {
                  // display: block;
                  width: 100%;
                  // left: 0;
                  transition: all 0.3s;
                }
              }
            }
          }
        }

        .forms {
          padding: 0 40px;
          form {
            margin-top: 50px;
            input {
              background-color: #d4d4d433;
              border: none;
              width: 340px;
              height: 59px;
              border-radius: 20px;
              padding-left: 20px;

              &:focus {
                border: none;
                outline: none;
              }
            }

            .form-select {
              margin-top: 30px;
              height: 59px;
              border-radius: 20px;
              background-color: #d4d4d433;
              border: none;

              .select_p {
                font-weight: 400;
                font-size: 16px;
                list-style: 26px;
                color: #6d6a7580;
              }
            }
            .setting {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 22px;
              gap: 10px;

              p {
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $primary-color;
              }
            }

            .btn_search {
              width: 340px;
              height: 60px;
              background-color: $primary-color;
              border: none;
              border-radius: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              margin-top: 61px;

              p {
                margin: 0;
                color: #ffff;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }

    .contacts_mans {
      margin-top: 86px;
      margin-bottom: 68px;
      gap: 30px;
      .members {
        width: 360px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 10px 30px 50px 0px #0000000d;

        .mans {
          position: relative;

          img {
            position: absolute;
            top: 31px;
          }
          .people_1 {
            top: 31px;
            left: 30px;
          }

          .people_2 {
            top: 31px;
            left: 56px;
          }
          .people_3 {
            left: 80px;
          }
          .people_4 {
            left: 104px;
          }
          .people_5 {
            left: 128px;
          }
          .people_6 {
            left: 152px;
          }
          .customers {
            position: absolute;
            top: 18px;
            left: 196px;
            font-weight: 500;
            font-size: 19.4px;
            line-height: 29.1px;
            color: $text-colour2;
          }
        }
      }

      .table {
        width: 320px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 10px 30px 50px 0px #0000000d;
        margin: 0;
        padding: 20px 38px;

        .table_p {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          color: $text-colour2;
          margin: 0;
        }
      }
    }
  }
}

/**/

.partners {
  .container {
    .partners_logo {
      padding: 0 100px;
      position: relative;
      margin-top: 97px;
      margin-bottom: 188px;

      .ellips {
        position: absolute;
        top: -1px;
        left: 132px;
      }

      p {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 60px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $text-colour3;
      }

      .logo_wraps {
        gap: 80px;

        img {
          mix-blend-mode: luminosity;
        }
      }
    }
  }
}

/**/

.real-estate {
  .container {
    .estate {
      width: 88%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 0 60px;
      margin-bottom: 200px;
      .left_information {
        flex: 1;
        .left_p1 {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          letter-spacing: 15px;
          color: $blue-color;
        }

        .left_h3 {
          font-weight: 600;
          font-size: 39.8px;
          line-height: 47px;
          color: $text-colour2;
          margin-top: 40px;
          margin-bottom: 0;
        }
        .left_p2 {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: $text-colour3;
          margin-top: 20px;
          margin-bottom: 0;
        }

        .donec_box {
          width: 400px;
          height: auto;

          border-radius: 30px;
          box-shadow: 4px 10px 30px 0px #0000000f;
          margin-top: 40px;

          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 31px;
          gap: 25px;

          .donic_wrap {
            .wrap_p1 {
              font-weight: 500;
              font-size: 19.4px;
              line-height: 29.1px;
              color: $blue-color;
              padding-top: 30px;
              padding-bottom: 10px;
              margin: 0;
            }

            .wrap_p2 {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour3;
            }
          }
        }

        .donec_box2 {
          width: 400px;
          height: auto;

          border-radius: 30px;
          box-shadow: 4px 10px 30px 0px #0000000f;
          margin-top: 30px;

          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 31px;
          gap: 25px;

          .donic_wrap {
            .wrap_p1 {
              font-weight: 500;
              font-size: 19.4px;
              line-height: 29.1px;
              color: $blue-color;
              padding-top: 30px;
              padding-bottom: 10px;
              margin: 0;
            }

            .wrap_p2 {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour3;
            }
          }
        }
      }
      .right_img {
        position: relative;
        flex: 1;
        gap: 20px;

        .img_position {
          position: absolute;
          top: -92px;
        }

        .img_position_2 {
          position: absolute;
          bottom: 33px;
          right: 139px;
        }

        .right_img1 {
          padding-top: 47px;
        }
        .right_img2 {
          img {
            &:first-child {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

/**/
.big_home {
  .container {
    .checkout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 60px;
      .checkout_left {
        .checkout_p1 {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          letter-spacing: 15%;
          color: $blue-color;
          margin: 0;
          padding-bottom: 20px;
        }

        .checkout_h3 {
          font-weight: 600;
          font-size: 39.8px;
          line-height: 47px;
          color: $text-colour2;
          margin: 0;
        }

        .checkout_p2 {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: $text-colour3;
          padding-top: 20px;
        }
      }

      .checkout_btn {
        display: flex;
        gap: 20px;
        .btn_1 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          padding: 15px 30px 15px 30px;
          color: $primary-color;
          border-radius: 30px;
          border: 1px solid $primary-color;
          background-color: transparent;
        }

        .btn_2 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          padding: 15px 30px 15px 30px;
          color: $primary-color;
          border-radius: 30px;
          border: 1px solid $primary-color;
          background-color: transparent;
        }

        .btn_3 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          padding: 15px 30px 15px 30px;
          color: $primary-color;
          border-radius: 30px;
          border: 1px solid $primary-color;
          background-color: transparent;
        }

        button:hover {
          background-color: $primary-color;
          color: #ffff;
        }

        .button:active {
          background-color: $primary-color;
          color: #ffff;
        }
      }
    }
    .wrappers_box {
      padding: 0 60px;
      margin-top: 50px;
      margin-bottom: 200px;
      display: flex;
      justify-content: space-between;

      .box {
        width: 340px;
        height: 500px;

        .backround {
          position: relative;

          .mini_wrap {
            position: absolute;
            top: 268px;
            left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: rgba(255, 225, 225, 1);
            padding: 10px 24px 10px 24px;
            border-radius: 20px;

            p {
              margin: 0;
              color: rgba(255, 17, 17, 1);
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .money {
          font-weight: 600;
          font-size: 27.6px;
          line-height: 41.4px;
          color: $text-colour2;
          padding-top: 22px;
          margin: 0;
        }
        .info_box_p {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          color: $text-colour2;
          margin: 0;
        }
        .info_box_p2 {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: $text-colour3;
          margin: 0;
        }

        .info_box_2 {
          gap: 20px;
          padding-top: 15px;
          .block_1 {
            p {
              margin: 0;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour2;
            }
          }
          .block_2 {
            p {
              margin: 0;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour2;
            }
          }
        }
      }
    }
  }
}

.our_servise {
  background-color: $text-colour5;
  .container {
    .servise-text {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 70px;

      p {
        font-weight: 500;
        font-size: 19.4px;
        line-height: 29.1px;
        letter-spacing: 15%;
        color: $text-colour2;
      }

      h3 {
        font-weight: 600;
        font-size: 39.8px;
        line-height: 47px;
        color: $text-colour1;
      }
    }

    .servise-box {
      padding-bottom: 137px;
    }
    .wrap_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 60px;

      .servise-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 340px;
        height: 363px;
        background-color: #ffff;
        box-shadow: 4px 10px 30px 0px rgb(158, 155, 155);
        padding: 60px;
        border-radius: 30px;

        .wrap-block {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          background-color: $blue-color;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          box-shadow: 4px 10px 30px 0px rgba(67, 97, 238, 0.4);
        }

        .buy {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          color: $text-colour2;
          padding-top: 20px;
          margin: 0;
        }

        .block_p {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: $text-colour3;
          padding-top: 10px;
          margin: 0;
        }
      }
    }
  }
}
.img_collactions {
  .container {
    .the-city {
      position: relative;
      padding: 0 60px;
      padding-bottom: 210px;

      .mini_ellips {
        position: absolute;
        left: 42%;
        top: -118px;
      }

      .big_ellips {
        position: absolute;
        bottom: 40px;
        right: 101px;
      }

      .city_text {
        margin-top: 210px;
        p {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          letter-spacing: 15%;
          color: $blue-color;
        }
        h3 {
          font-weight: 600;
          font-size: 39.8px;
          line-height: 47px;
          color: $text-colour2;
        }
      }

      .my_city {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;

        .block_1 {
          position: relative;

          .text_wrap {
            position: absolute;
            bottom: 15px;
            left: 25px;

            h3 {
              font-weight: 600;
              font-size: 57.3px;
              line-height: 65px;
              color: rgba(255, 255, 255, 1);
              margin: 0;
              box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.25);
            }
            p {
              font-weight: 500;
              font-size: 19.4px;
              line-height: 29.1px;
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }
}

/**/

.our-team {
  .container {
    .our_text {
      text-align: center;

      p {
        font-weight: 500;
        font-size: 19.4px;
        line-height: 29.1px;
        letter-spacing: 3px;
        color: $blue-color;
        margin: 0;
        text-transform: uppercase;
      }

      h3 {
        font-weight: 600;
        font-size: 39.8px;
        line-height: 47px;
        color: $text-colour2;
        padding-top: 20px;
      }
    }

    .our_mans {
      padding: 0 100px;
      padding-top: 100px;
      padding-bottom: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 63px;

      .our-box {
        text-align: center;

        h3 {
          font-weight: 600;
          font-size: 27.6px;
          line-height: 41.4px;
          color: $text-colour1;
          padding-top: 20px;
          margin: 0;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $blue-color;
          padding-top: 15px;
          margin: 0;
        }
      }
    }
  }
}

.blogs {
  background-color: $primary-color;

  .container {
    .blogs-text {
      text-align: center;

      p {
        color: #ffff;
        font-weight: 500;
        font-size: 19.4px;
        line-height: 29.1px;
        letter-spacing: 3px;
        padding-top: 110px;
      }

      h3 {
        color: #ffff;
        font-weight: 600;
        font-size: 39.8px;
        line-height: 47px;
        margin: 0;
        padding-bottom: 80px;
      }
    }
    .blogs-wrappers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 0 60px;

      .blogs_box {
        width: 340px;

        .images {
          position: relative;

          .calendar {
            position: absolute;
            width: 57px;
            height: 50px;
            top: 0;
            left: 50px;
            background-color: #ffff;
            border-radius: 0px 0px 10px 10px;
            text-align: center;

            h3 {
              margin: 0;
              font-weight: 500;
              font-size: 19.4px;

              color: $text-colour2;
            }

            p {
              margin: 0;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour3;
            }
          }
        }
        .text {
          h3 {
            color: #ffff;
            font-weight: 500;
            font-size: 27.6px;
            line-height: 41.4px;
            padding-top: 20px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #ffff;
          }
        }

        .blogs_btn {
          margin-left: 286px;
          padding: 15px 15px;
          border-radius: 50%;
          border: 1px solid $primary-color;
        }
      }
    }

    .lines {
      margin-top: 70px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 39px;
      .line {
        width: 100px;
        height: 2px;
        background-color: #ffff;
        margin-bottom: 100px;
      }
    }
  }
}

.container {
  .testimonials {
    padding: 0 60px;
    padding-top: 217px;
    display: flex;
    justify-content: space-between;

    .carousel-control-prev {
      color: black;
      svg {
        fill: black;
      }
    }
    .carousel-inner {
      height: 400px;
    }
    .carousel-item {
      transition: transform 0.6s ease-in-out;
      float: none;
    }
    .carousel-item-next:not(.carousel-item-start),
    .active.carousel-item-end {
      transform: translateY(100%);
    }
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start {
      transform: translateY(-100%);
    }
    .testimonials_left {
      .left_p1 {
        font-weight: 500;
        font-size: 19.4px;
        line-height: 29.1px;
        letter-spacing: 3px;
        color: $blue-color;
      }

      .left_h3 {
        font-weight: 600;
        font-size: 39.8px;
        line-height: 47px;
        color: $text-colour2;
      }

      .left_p2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $text-colour2;
      }
    }

    .vertical.carousel .carousel-control {
      bottom: auto;
      width: 100%;
      height: 15%;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(0, 0, 0, 0.5)),
        to(rgba(0, 0, 0, 0))
      );
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0) 100%
      );
    }
    .vertical.carousel .carousel-control.right {
      top: auto;
      bottom: 0;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0.5))
      );
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
    .carousel .carousel-control .glyphicon {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .carousel .carousel-indicators {
      bottom: auto;
      top: 50%;
      left: auto;
      right: -20px;
      width: 14px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      button {
        width: 2px;
        height: 35px;
        background-color: #000;
        opacity: 0.4;
      }

      .active {
        background-color: #000;
        opacity: 1;
      }
    }
    .vertical.carousel .carousel-inner > .item {
      left: 0;
      top: 0;
    }
    .vertical.carousel .carousel-inner > .item > img {
      width: 100%;
    }
    .vertical.carousel .carousel-inner > .item.next,
    .vertical.carousel .carousel-inner > .item.active.right {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      top: 0;
    }
    .vertical.carousel .carousel-inner > .item.prev,
    .vertical.carousel .carousel-inner > .item.active.left {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      top: 0;
    }
    .vertical.carousel .carousel-inner > .item.next.left,
    .vertical.carousel .carousel-inner > .item.prev.right,
    .vertical.carousel .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      top: 0;
    }
    .vertical.carousel .carousel-inner > .active,
    .vertical.carousel .carousel-inner > .next.left,
    .vertical.carousel .carousel-inner .prev.right {
      top: 0;
    }
    .vertical.carousel .carousel-inner > .next,
    .vertical.carousel .carousel-inner > .active.right {
      top: 100%;
      left: 0;
    }
    .vertical.carousel .carousel-inner > .prev,
    .vertical.carousel .carousel-inner > .active.left {
      top: -100%;
      left: 0;
    }
  }
}

.carousel-inner {
  .carousel-item {
    .carousel_box {
      width: 500px;
      height: 358px;
      border-radius: 30px;
      box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid gray;
      padding: 0 60px;
      padding-top: 34px;

      p {
        padding-top: 18px;
        padding-bottom: 15px;
        font-weight: 500;
        font-size: 19.4px;
        line-height: 29.1px;
        color: $text-colour2;
        margin: 0;
      }
    }
  }
}
.carousel-control-prev {
  position: absolute;
  top: 277px;
  left: -678px;
  border: 1px solid $blue-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.carousel-control-next {
  position: absolute;
  top: 277px;
  right: 1000px;
  border: 1px solid $blue-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.become-agent {
  .container {
    .become-wraps {
      margin-top: 250px;
      margin-bottom: 180px;
      width: 100%;
      height: 260px;
      background-color: $primary-color;
      border-radius: 40px;
      position: relative;

      .become_mans {
        position: absolute;
        bottom: 0;
        z-index: 1;
      }

      .ellipse_16 {
        position: absolute;
        top: -40px;
        right: 30px;
      }

      .ellipse_17 {
        position: absolute;
        top: 120px;
        left: 260px;
      }
    }

    .become-text {
      padding-top: 70px;
      padding-left: 147px;
      gap: 85px;
      .become-text_mini {
        h3 {
          font-weight: 600;
          font-size: 39.8px;
          line-height: 47px;
          color: #ffff;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #ffff;
        }
      }

      .become_btn {
        button {
          padding: 15px 30px 15px 30px;
          border-radius: 30px;
          border: 1px solid $primary-color;
          color: $primary-color;

          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

footer {
  background: rgb(221, 223, 236);

  .container {
    .the-and {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 0 60px;
      padding-top: 100px;
      padding-bottom: 111px;
      .footer_info {
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          .home-wrap {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $primary-color;
          }

          p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: $text-colour2;
            margin: 0;
          }
        }

        .info_p1 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $text-colour2;
          margin: 0;
          padding-top: 32px;
        }

        .tel_wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          padding-top: 53px;

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $text-colour2;
          }
        }

        .email_wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          padding-top: 31px;

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $text-colour2;
          }
        }
      }

      .quick_link {
        h5 {
          padding-top: 10px;
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          color: $text-colour2;
          margin: 0;
        }

        ul {
          padding-left: 0;
          padding-top: 35px;
          li {
            padding-top: 5px;
            list-style: none;
            a {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour2;
              padding-top: 5px;
            }
          }
        }
      }
      .discovery {
        h5 {
          padding-top: 10px;
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          color: $text-colour2;
          margin: 0;
        }
        ul {
          padding-left: 0;
          padding-top: 35px;
          li {
            padding-top: 5px;
            list-style: none;
            a {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: $text-colour2;
              padding-top: 5px;
            }
          }
        }
      }

      .subscribe {
        h5 {
          font-weight: 500;
          font-size: 19.4px;
          line-height: 29.1px;
          color: $text-colour1;
        }
        .subscribe_form {
          position: relative;
          margin-top: 25px;

          .subscribe_input {
            width: 350px;
            height: 60px;
            border-radius: 30px;
            box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.05);
            border: none;
            padding-left: 20px;
          }

          .subscribe_btn {
            position: absolute;
            bottom: 6px;
            right: 6px;
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
          }
        }
      }

      .follow {
        padding-top: 32px;
        font-weight: 500;
        font-size: 19.4px;
        line-height: 29.1px;
        color: $text-colour1;
        margin: 0;
      }

      .social-network {
        display: flex;
        gap: 10px;
        margin-top: 30px;
      }
    }
  }
}
