@media only screen and (max-width: 1000px) {
  header {
    .info {
      .container {
        .info_wrappers {
          width: 100%;
          height: auto;
          padding: 10px 0;

          .location {
            img {
              width: 12px;
            }
            .adress {
              font-size: 12px;
            }
          }
          .email {
            flex-direction: column;
            gap: 0 !important;

            .info_left {
              img {
                width: 12px;
              }
              .phone_number {
                font-size: 12px;
              }
            }

            .info_right {
              img {
                width: 12px;
              }
              .my_email {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .container {
      .nav_bar {
        .nav_menu {
          display: none !important;
        }

        .nav_register {
          display: none !important;
        }

        nav &__btn {
          display: none;
        }
        .header__burger {
          display: block;
          width: 30px;
          height: 25px;
          background: transparent;
          position: relative;
          border: none;
          outline: none;

          &-box {
            background-color: #000000;
            border-radius: 12px;
            height: 2px;
            width: 100%;
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              top: 0;
              left: 0;
              background-color: #000000;
              transition: all 0.2s;
            }
            &::before {
              transition: all 0.2s;
              position: absolute;
              content: "";
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #000000;
            }
          }
          &.active {
            .header__burger-box {
              background-color: transparent;
              &::after {
                transform: rotate(45deg);
                top: 45%;
                transition: all 0.2s;
              }
              &::before {
                transform: rotate(-45deg);
                bottom: 50%;
                transition: all 0.2s;
              }
            }
          }
        }
      }
    }

    .mobile_header {
      position: absolute;
      width: 100%;
      height: calc(100dvh - 75px);
      top: 130px;
      transform: translateX(-112%);
      background-color: rgba(58, 12, 163, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 20px;
      transition: transform 0.4s;
      z-index: 55;
      .mobile_nav {
        width: 100%;
        ul {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          gap: 20px;

          li {
            width: 80%;
            list-style: none;
            a {
              display: block;
              width: 100%;
              color: #ffff;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              padding: 8px;
              border-radius: 8px;
              border: 1px solid #f1f1f1;
            }
          }
        }
      }

      .nav_register {
        padding-top: 20px;
        a {
          img {
            filter: invert(100%);
          }
          .login {
            color: #ffff;
          }
        }
      }

      .btn_wrap {
        border: 1px solid #ffff;
        border-radius: 50px;
      }
    }

    .mobile_header.active {
      transform: translateX(0);
      transition: transform 0.4s;
    }
  }

  /**/

  section {
    .back_ellipse {
      .container {
        .hero_wrap {
          flex-direction: column;
          align-items: center;

          .hero_left {
            .mini_ellipse {
              top: 240px;
            }
            .left_estet {
              font-size: 15px;
            }

            .left_h1 {
              font-size: 39.8px;
              line-height: 47px;
              margin: 0;
            }

            .left_lorem {
              font-size: 15px;
              margin-top: 25px;
            }
          }
        }
      }
    }
  }

  .partners {
    padding-top: 600px !important;
    .container {
      .partners_logo {
        margin-bottom: 100px;

        .logo_wraps {
          flex-wrap: wrap;
          gap: 40px;
        }
      }
    }
  }

  .real-estate {
    .container {
      .estate {
        flex-direction: column;

        .left_information {
          .left_p1 {
            font-size: 15px;
          }

          .left_h3 {
            font-size: 30 px;
          }
        }

        .right_img {
          margin-top: 120px;
        }
      }
    }
  }

  .big_home {
    .container {
      .checkout {
        flex-direction: column;
        align-items: flex-start;
      }

      .wrappers_box {
        padding: 0;
        flex-wrap: wrap;
        margin-bottom: 100px;

        .box {
          margin-top: 40px;
        }
      }
    }
  }

  .our_servise {
    .container {
      .servise-text {
        h3 {
          font-size: 25px;
        }
      }

      .wrap_block {
        flex-wrap: wrap;
        padding: 0;
        padding-bottom: 50px;

        .servise-box {
          padding-bottom: 30px;
        }
      }
    }
  }
  /**/
  .img_collactions {
    .container {
      .the-city {
        padding: 0;
        padding-bottom: 100px;

        .my_city {
          justify-content: space-around;
        }
      }
    }
  }
  /**/
  .our-team {
    .container {
      .our_mans {
        flex-wrap: wrap;
      }
    }
  }
  /**/
  .blogs {
    .container {
      .blogs-text {
      }
      .blogs-wrappers {
        flex-wrap: wrap;
        padding: 0;
        gap: 0;

        .blogs_box {
          margin-top: 40px;
        }
      }
    }
  }
  /**/
  section {
    .container {
      .testimonials {
        flex-direction: column !important;
        padding-top: 50px;
        padding-bottom: 100px;
        .testimonials_right {
          margin-top: 30px;

          .carousel-control-prev {
            top: 100%;
            left: 0;
          }

          .carousel-control-next {
            left: 80px;
            top: 100%;
          }

          .carousel-indicators {
            right: 45px;
          }
        }
      }
    }
  }

  .become-agent {
    .container {
      .become-wraps {
        margin-top: 50px;
        margin-bottom: 50px;
        .become-text {
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding-left: 270px;
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
    }
  }

  .container {
    .the-and {
      flex-wrap: wrap;
      gap: 70px;
    }
  }
}

@media only screen and (max-width: 600px) {
  section {
    .back_ellipse {
      .container {
        padding: 0 30px;
        .hero_wrap {
          .hero_left {
            padding: 0;
            .left_estet {
              font-size: 16px;
              line-height: 24px;
            }

            .left_h1 {
              font-size: 39.8px;
              line-height: 47px;
            }

            .left_lorem {
              font-size: 13.3px;
              line-height: 22px;
              display: flex;
              flex-wrap: wrap;
            }

            .carousel_slide {
              width: 100%;
              height: auto;
              .carousel-inner {
                .carousel_img {
                  width: 100%;
                  height: auto;
                }
              }

              .carousel-control-next.horizontal {
                top: 39%;

                img {
                  width: 75px;
                }
              }

              .carousel-control-prev.horizontal {
                top: 39%;

                img {
                  width: 75px;
                }
              }

              .carousel-indicators {
                top: 105%;
              }
            }
          }

          .hero_right {
            .cards {
              width: 100%;
            }
          }

          .hero_right{


            .cards{
              display: none;
            }
          }
        }


        .contacts_mans{
          display: flex; 
          flex-direction: column;
         

          .members{
            width: 333px;
            height: 92.5px;


            .mans{


              .customers{
                font-size: 16px;
                line-height: 24px;

              }
            }
          }

          .table{
            width: 333px;
            height: 100px;


            .table_p{
              font-size: 16px;
              line-height: 24px;
              padding-right: 25px;
            }
          }
        }
      }
    }
  }




  .partners{
    
    .container{

      .partners_logo{

        padding: 0 20px;
      }
    }
  }


  .real-estate{

    .container{

      .estate{
        margin: 0 20px;

        .left_information{

          .left_p1{

            font-size: 16px;
            line-height: 24px;
            letter-spacing: 3px;

          }

          .left_h3{

            font-size: 27.6px;
            line-height: 41.4px;
            margin-top: 0;

          }

          .left_p2{
            font-size: 13.3px;
            line-height: 22px;


          }

          .donec_box{
            width: 333px;
            height: 117px;


            .donic_wrap{


              .wrap_p1{
                font-size: 16px;
                line-height: 24px;

              }

              .wrap_p2{
                font-size: 13.3px;
                line-height: 22px;
              }
            }
          }

          .donec_box2{
            width: 333px;
            height: 117px;


            .donic_wrap{

              .wrap_p1{
                font-size: 16px;
                line-height: 24px;

              }

              .wrap_p2{
                font-size: 13.3px;
                line-height: 22px;
              }
            }

          }

        }

        .right_img{
          margin-top: 60px;

          .img_position{
            width: 124px;
            height: 124px;
            top: -38px;

          }


          .right_img1{
            padding-top: 30px;

            img{
              width: 170px !important;
              height: 260px !important;
            }
           
          }

          .right_img2{

            img:nth-child(1){
              width: 143px;
              height: 141px;
              
            }

            img:nth-child(2){
              width: 143px;
              height: 100px;


            }
          }
        }



      }

    }
  }


  .big_home{
    .container{
      .checkout{
        padding:0 10px;
        .checkout_left{
          .checkout_p1{
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 3px;
            padding-top: 100px;
            padding-bottom: 5px;
          }

          .checkout_h3{
            font-size: 27.6px;
            line-height: 41.4px;


          }

          .checkout_p2{
            font-size: 13.3px;
            line-height: 22px;
            padding-bottom: 40px;
          }
        }
      }
    }
  }

  .seconf {
    font-stretch: 65px;
    font-size: 32px;
  }
}
