* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.info {
  background-color: #3a0ca3;
}

.info_wrappers {
  height: 40px;
}

.info .adress {
  margin-bottom: 0 !important;
  color: #ffffff;
}

.phone_number {
  margin-bottom: 0 !important;
  color: #ffffff;
}

.my_email {
  margin-bottom: 0 !important;
  color: #ffffff;
}

.nav_bar {
  height: 80px;
  background-color: #ffffff !important;
}

.nav_meu > li > a {
  color: #2b2b2b;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 30px;
}

.nav_meu > li > a:hover {
  background-color: rgba(67, 97, 238, 0.3019607843);
  transition: all 0.3s;
}

.nav_btn {
  background-color: transparent;
}

.wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3a0ca3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_btn > p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #1e1e1e;
}

.login {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
}

.nav_btn_2 {
  background-color: #3a0ca3;
  border-radius: 50px;
}

.btn_listing {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn_wrap {
  padding: 15px 26px;
}

.back_ellipse {
  width: 100%;
  height: 802px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(76, 201, 240, 0) 0%, rgba(67, 97, 238, 0.3) 100%);
  border-radius: 0px 0px 1000px 1000px;
}

/***/
.back_ellipse .mini_ellipse {
  position: absolute;
  top: 265px;
  right: -25px;
}
.back_ellipse .container .hero_wrap {
  margin-top: 89px;
}
.back_ellipse .container .hero_wrap .hero_left {
  position: relative;
  padding-left: 60px;
}
.back_ellipse .container .hero_wrap .hero_left .left_estet {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 15%;
  color: #4361ee;
}
.back_ellipse .container .hero_wrap .hero_left .left_h1 {
  font-weight: 600;
  font-size: 57.3px;
  line-height: 65px;
  color: #0b090a;
}
.back_ellipse .container .hero_wrap .hero_left .left_lorem {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  margin-top: 40px;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide {
  width: 540px;
  height: 340px;
  margin-top: 40px;
  border-radius: 20px;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-inner {
  display: flex;
  align-items: center;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-inner .carousel_img {
  width: 540px;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-control-next {
  right: -50px;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-control-prev {
  left: -36px;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-indicators {
  top: 350px;
  justify-content: space-between;
  margin-right: 13px;
  margin-left: 13px;
  gap: 20px;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-indicators button {
  flex: 1;
  border: 1px solid #f1f1f1;
}
.back_ellipse .container .hero_wrap .hero_left .carousel_slide .carousel-indicators .active {
  background-color: #4361ee;
}
.back_ellipse .container .hero_right {
  padding-right: 0;
}
.back_ellipse .container .hero_right .cards {
  width: 420px;
  height: 582px;
  background-color: white;
  border-radius: 30px;
  margin-top: 66px;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.0509803922);
}
.back_ellipse .container .hero_right .cards ul {
  width: 100%;
  height: 80px;
  background-color: white;
  border-radius: 30px 30px 0 0;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 82px;
  margin: 0 auto;
  border-bottom: 1px solid #808080;
  flex-wrap: nowrap;
}
.back_ellipse .container .hero_right .cards ul li {
  list-style: none;
}
.back_ellipse .container .hero_right .cards ul li .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  position: relative;
  padding: 0 10px;
  border: none;
}
.back_ellipse .container .hero_right .cards ul li .nav-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  border-radius: 20px;
  background-color: #3a0ca3;
  left: 0;
  bottom: -28px;
}
.back_ellipse .container .hero_right .cards ul li .nav-link:hover {
  color: #3a0ca3;
  font-weight: 500;
}
.back_ellipse .container .hero_right .cards ul li .nav-link:hover::after {
  width: 100%;
  transition: all 0.3s;
}
.back_ellipse .container .hero_right .cards .forms {
  padding: 0 40px;
}
.back_ellipse .container .hero_right .cards .forms form {
  margin-top: 50px;
}
.back_ellipse .container .hero_right .cards .forms form input {
  background-color: rgba(212, 212, 212, 0.2);
  border: none;
  width: 340px;
  height: 59px;
  border-radius: 20px;
  padding-left: 20px;
}
.back_ellipse .container .hero_right .cards .forms form input:focus {
  border: none;
  outline: none;
}
.back_ellipse .container .hero_right .cards .forms form .form-select {
  margin-top: 30px;
  height: 59px;
  border-radius: 20px;
  background-color: rgba(212, 212, 212, 0.2);
  border: none;
}
.back_ellipse .container .hero_right .cards .forms form .form-select .select_p {
  font-weight: 400;
  font-size: 16px;
  list-style: 26px;
  color: rgba(109, 106, 117, 0.5019607843);
}
.back_ellipse .container .hero_right .cards .forms form .setting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 22px;
  gap: 10px;
}
.back_ellipse .container .hero_right .cards .forms form .setting p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3a0ca3;
}
.back_ellipse .container .hero_right .cards .forms form .btn_search {
  width: 340px;
  height: 60px;
  background-color: #3a0ca3;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 61px;
}
.back_ellipse .container .hero_right .cards .forms form .btn_search p {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.back_ellipse .container .contacts_mans {
  margin-top: 86px;
  margin-bottom: 68px;
  gap: 30px;
}
.back_ellipse .container .contacts_mans .members {
  width: 360px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.0509803922);
}
.back_ellipse .container .contacts_mans .members .mans {
  position: relative;
}
.back_ellipse .container .contacts_mans .members .mans img {
  position: absolute;
  top: 31px;
}
.back_ellipse .container .contacts_mans .members .mans .people_1 {
  top: 31px;
  left: 30px;
}
.back_ellipse .container .contacts_mans .members .mans .people_2 {
  top: 31px;
  left: 56px;
}
.back_ellipse .container .contacts_mans .members .mans .people_3 {
  left: 80px;
}
.back_ellipse .container .contacts_mans .members .mans .people_4 {
  left: 104px;
}
.back_ellipse .container .contacts_mans .members .mans .people_5 {
  left: 128px;
}
.back_ellipse .container .contacts_mans .members .mans .people_6 {
  left: 152px;
}
.back_ellipse .container .contacts_mans .members .mans .customers {
  position: absolute;
  top: 18px;
  left: 196px;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
}
.back_ellipse .container .contacts_mans .table {
  width: 320px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.0509803922);
  margin: 0;
  padding: 20px 38px;
}
.back_ellipse .container .contacts_mans .table .table_p {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
  margin: 0;
}

/**/
.partners .container .partners_logo {
  padding: 0 100px;
  position: relative;
  margin-top: 97px;
  margin-bottom: 188px;
}
.partners .container .partners_logo .ellips {
  position: absolute;
  top: -1px;
  left: 132px;
}
.partners .container .partners_logo p {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}
.partners .container .partners_logo .logo_wraps {
  gap: 80px;
}
.partners .container .partners_logo .logo_wraps img {
  mix-blend-mode: luminosity;
}

/**/
.real-estate .container .estate {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
  margin-bottom: 200px;
}
.real-estate .container .estate .left_information {
  flex: 1;
}
.real-estate .container .estate .left_information .left_p1 {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 15px;
  color: #4361ee;
}
.real-estate .container .estate .left_information .left_h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: #2b2b2b;
  margin-top: 40px;
  margin-bottom: 0;
}
.real-estate .container .estate .left_information .left_p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  margin-top: 20px;
  margin-bottom: 0;
}
.real-estate .container .estate .left_information .donec_box {
  width: 400px;
  height: auto;
  border-radius: 30px;
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.0588235294);
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 31px;
  gap: 25px;
}
.real-estate .container .estate .left_information .donec_box .donic_wrap .wrap_p1 {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #4361ee;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}
.real-estate .container .estate .left_information .donec_box .donic_wrap .wrap_p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
}
.real-estate .container .estate .left_information .donec_box2 {
  width: 400px;
  height: auto;
  border-radius: 30px;
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.0588235294);
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 31px;
  gap: 25px;
}
.real-estate .container .estate .left_information .donec_box2 .donic_wrap .wrap_p1 {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #4361ee;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}
.real-estate .container .estate .left_information .donec_box2 .donic_wrap .wrap_p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
}
.real-estate .container .estate .right_img {
  position: relative;
  flex: 1;
  gap: 20px;
}
.real-estate .container .estate .right_img .img_position {
  position: absolute;
  top: -92px;
}
.real-estate .container .estate .right_img .img_position_2 {
  position: absolute;
  bottom: 33px;
  right: 139px;
}
.real-estate .container .estate .right_img .right_img1 {
  padding-top: 47px;
}
.real-estate .container .estate .right_img .right_img2 img:first-child {
  margin-bottom: 20px;
}

/**/
.big_home .container .checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
.big_home .container .checkout .checkout_left .checkout_p1 {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 15%;
  color: #4361ee;
  margin: 0;
  padding-bottom: 20px;
}
.big_home .container .checkout .checkout_left .checkout_h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: #2b2b2b;
  margin: 0;
}
.big_home .container .checkout .checkout_left .checkout_p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  padding-top: 20px;
}
.big_home .container .checkout .checkout_btn {
  display: flex;
  gap: 20px;
}
.big_home .container .checkout .checkout_btn .btn_1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px 15px 30px;
  color: #3a0ca3;
  border-radius: 30px;
  border: 1px solid #3a0ca3;
  background-color: transparent;
}
.big_home .container .checkout .checkout_btn .btn_2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px 15px 30px;
  color: #3a0ca3;
  border-radius: 30px;
  border: 1px solid #3a0ca3;
  background-color: transparent;
}
.big_home .container .checkout .checkout_btn .btn_3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px 15px 30px;
  color: #3a0ca3;
  border-radius: 30px;
  border: 1px solid #3a0ca3;
  background-color: transparent;
}
.big_home .container .checkout .checkout_btn button:hover {
  background-color: #3a0ca3;
  color: white;
}
.big_home .container .checkout .checkout_btn .button:active {
  background-color: #3a0ca3;
  color: white;
}
.big_home .container .wrappers_box {
  padding: 0 60px;
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}
.big_home .container .wrappers_box .box {
  width: 340px;
  height: 500px;
}
.big_home .container .wrappers_box .box .backround {
  position: relative;
}
.big_home .container .wrappers_box .box .backround .mini_wrap {
  position: absolute;
  top: 268px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgb(255, 225, 225);
  padding: 10px 24px 10px 24px;
  border-radius: 20px;
}
.big_home .container .wrappers_box .box .backround .mini_wrap p {
  margin: 0;
  color: rgb(255, 17, 17);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.big_home .container .wrappers_box .box .money {
  font-weight: 600;
  font-size: 27.6px;
  line-height: 41.4px;
  color: #2b2b2b;
  padding-top: 22px;
  margin: 0;
}
.big_home .container .wrappers_box .box .info_box_p {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
  margin: 0;
}
.big_home .container .wrappers_box .box .info_box_p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  margin: 0;
}
.big_home .container .wrappers_box .box .info_box_2 {
  gap: 20px;
  padding-top: 15px;
}
.big_home .container .wrappers_box .box .info_box_2 .block_1 p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2b2b2b;
}
.big_home .container .wrappers_box .box .info_box_2 .block_2 p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2b2b2b;
}

.our_servise {
  background-color: #d4d4d4;
}
.our_servise .container .servise-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
}
.our_servise .container .servise-text p {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 15%;
  color: #2b2b2b;
}
.our_servise .container .servise-text h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: #0b090a;
}
.our_servise .container .servise-box {
  padding-bottom: 137px;
}
.our_servise .container .wrap_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
.our_servise .container .wrap_block .servise-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 340px;
  height: 363px;
  background-color: white;
  box-shadow: 4px 10px 30px 0px rgb(158, 155, 155);
  padding: 60px;
  border-radius: 30px;
}
.our_servise .container .wrap_block .servise-block .wrap-block {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #4361ee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 4px 10px 30px 0px rgba(67, 97, 238, 0.4);
}
.our_servise .container .wrap_block .servise-block .buy {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
  padding-top: 20px;
  margin: 0;
}
.our_servise .container .wrap_block .servise-block .block_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  padding-top: 10px;
  margin: 0;
}

.img_collactions .container .the-city {
  position: relative;
  padding: 0 60px;
  padding-bottom: 210px;
}
.img_collactions .container .the-city .mini_ellips {
  position: absolute;
  left: 42%;
  top: -118px;
}
.img_collactions .container .the-city .big_ellips {
  position: absolute;
  bottom: 40px;
  right: 101px;
}
.img_collactions .container .the-city .city_text {
  margin-top: 210px;
}
.img_collactions .container .the-city .city_text p {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 15%;
  color: #4361ee;
}
.img_collactions .container .the-city .city_text h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: #2b2b2b;
}
.img_collactions .container .the-city .my_city {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.img_collactions .container .the-city .my_city .block_1 {
  position: relative;
}
.img_collactions .container .the-city .my_city .block_1 .text_wrap {
  position: absolute;
  bottom: 15px;
  left: 25px;
}
.img_collactions .container .the-city .my_city .block_1 .text_wrap h3 {
  font-weight: 600;
  font-size: 57.3px;
  line-height: 65px;
  color: rgb(255, 255, 255);
  margin: 0;
  box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.25);
}
.img_collactions .container .the-city .my_city .block_1 .text_wrap p {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: rgb(255, 255, 255);
}

/**/
.our-team .container .our_text {
  text-align: center;
}
.our-team .container .our_text p {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 3px;
  color: #4361ee;
  margin: 0;
  text-transform: uppercase;
}
.our-team .container .our_text h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: #2b2b2b;
  padding-top: 20px;
}
.our-team .container .our_mans {
  padding: 0 100px;
  padding-top: 100px;
  padding-bottom: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
}
.our-team .container .our_mans .our-box {
  text-align: center;
}
.our-team .container .our_mans .our-box h3 {
  font-weight: 600;
  font-size: 27.6px;
  line-height: 41.4px;
  color: #0b090a;
  padding-top: 20px;
  margin: 0;
}
.our-team .container .our_mans .our-box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4361ee;
  padding-top: 15px;
  margin: 0;
}

.blogs {
  background-color: #3a0ca3;
}
.blogs .container .blogs-text {
  text-align: center;
}
.blogs .container .blogs-text p {
  color: white;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 3px;
  padding-top: 110px;
}
.blogs .container .blogs-text h3 {
  color: white;
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  margin: 0;
  padding-bottom: 80px;
}
.blogs .container .blogs-wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0 60px;
}
.blogs .container .blogs-wrappers .blogs_box {
  width: 340px;
}
.blogs .container .blogs-wrappers .blogs_box .images {
  position: relative;
}
.blogs .container .blogs-wrappers .blogs_box .images .calendar {
  position: absolute;
  width: 57px;
  height: 50px;
  top: 0;
  left: 50px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}
.blogs .container .blogs-wrappers .blogs_box .images .calendar h3 {
  margin: 0;
  font-weight: 500;
  font-size: 19.4px;
  color: #2b2b2b;
}
.blogs .container .blogs-wrappers .blogs_box .images .calendar p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
}
.blogs .container .blogs-wrappers .blogs_box .text h3 {
  color: white;
  font-weight: 500;
  font-size: 27.6px;
  line-height: 41.4px;
  padding-top: 20px;
}
.blogs .container .blogs-wrappers .blogs_box .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.blogs .container .blogs-wrappers .blogs_box .blogs_btn {
  margin-left: 286px;
  padding: 15px 15px;
  border-radius: 50%;
  border: 1px solid #3a0ca3;
}
.blogs .container .lines {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
}
.blogs .container .lines .line {
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 100px;
}

.container .testimonials {
  padding: 0 60px;
  padding-top: 217px;
  display: flex;
  justify-content: space-between;
}
.container .testimonials .carousel-control-prev {
  color: black;
}
.container .testimonials .carousel-control-prev svg {
  fill: black;
}
.container .testimonials .carousel-inner {
  height: 400px;
}
.container .testimonials .carousel-item {
  transition: transform 0.6s ease-in-out;
}
.container .testimonials .carousel-item-next:not(.carousel-item-start),
.container .testimonials .active.carousel-item-end {
  transform: translateY(100%);
}
.container .testimonials .carousel-item-prev:not(.carousel-item-end),
.container .testimonials .active.carousel-item-start {
  transform: translateY(-100%);
}
.container .testimonials .testimonials_left .left_p1 {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  letter-spacing: 3px;
  color: #4361ee;
}
.container .testimonials .testimonials_left .left_h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: #2b2b2b;
}
.container .testimonials .testimonials_left .left_p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2b2b2b;
}
.container .testimonials .vertical.carousel .carousel-control {
  bottom: auto;
  width: 100%;
  height: 15%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
}
.container .testimonials .vertical.carousel .carousel-control.right {
  top: auto;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.container .testimonials .vertical.carousel .carousel-control .glyphicon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.container .testimonials .vertical.carousel .carousel-indicators {
  bottom: auto;
  top: 50%;
  left: auto;
  right: 10px;
  width: 14px;
  margin: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container .testimonials .vertical.carousel .carousel-inner > .item {
  left: 0;
  top: 0;
}
.container .testimonials .vertical.carousel .carousel-inner > .item > img {
  width: 100%;
}
.container .testimonials .vertical.carousel .carousel-inner > .item.next,
.container .testimonials .vertical.carousel .carousel-inner > .item.active.right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  top: 0;
}
.container .testimonials .vertical.carousel .carousel-inner > .item.prev,
.container .testimonials .vertical.carousel .carousel-inner > .item.active.left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  top: 0;
}
.container .testimonials .vertical.carousel .carousel-inner > .item.next.left,
.container .testimonials .vertical.carousel .carousel-inner > .item.prev.right,
.container .testimonials .vertical.carousel .carousel-inner > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 0;
}
.container .testimonials .vertical.carousel .carousel-inner > .active,
.container .testimonials .vertical.carousel .carousel-inner > .next.left,
.container .testimonials .vertical.carousel .carousel-inner .prev.right {
  top: 0;
}
.container .testimonials .vertical.carousel .carousel-inner > .next,
.container .testimonials .vertical.carousel .carousel-inner > .active.right {
  top: 100%;
  left: 0;
}
.container .testimonials .vertical.carousel .carousel-inner > .prev,
.container .testimonials .vertical.carousel .carousel-inner > .active.left {
  top: -100%;
  left: 0;
}

.carousel-inner .carousel-item .carousel_box {
  width: 500px;
  height: 358px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid gray;
  padding: 0 60px;
  padding-top: 34px;
}
.carousel-inner .carousel-item .carousel_box p {
  padding-top: 18px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
  margin: 0;
}

.carousel-control-prev {
  position: absolute;
  top: 277px;
  left: -678px;
  border: 1px solid #4361ee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-control-next {
  position: absolute;
  top: 277px;
  right: 1000px;
  border: 1px solid #4361ee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-indicators {
  position: absolute;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel-indicators .active {
  background-color: #0b090a;
  width: 2px;
  height: 37.14px;
}

.become-agent .container .become-wraps {
  margin-top: 250px;
  margin-bottom: 180px;
  width: 100%;
  height: 260px;
  background-color: #3a0ca3;
  border-radius: 40px;
  position: relative;
}
.become-agent .container .become-wraps .become_mans {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.become-agent .container .become-wraps .ellipse_16 {
  position: absolute;
  top: -40px;
  right: 30px;
}
.become-agent .container .become-wraps .ellipse_17 {
  position: absolute;
  top: 120px;
  left: 260px;
}
.become-agent .container .become-text {
  padding-top: 70px;
  padding-left: 147px;
  gap: 85px;
}
.become-agent .container .become-text .become-text_mini h3 {
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  color: white;
}
.become-agent .container .become-text .become-text_mini p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.become-agent .container .become-text .become_btn button {
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  border: 1px solid #3a0ca3;
  color: #3a0ca3;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

footer {
  background: rgb(221, 223, 236);
}
footer .container .the-and {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 60px;
  padding-top: 100px;
  padding-bottom: 111px;
}
footer .container .the-and .footer_info a {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .container .the-and .footer_info a .home-wrap {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #3a0ca3;
}
footer .container .the-and .footer_info a p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2b2b2b;
  margin: 0;
}
footer .container .the-and .footer_info .info_p1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
  margin: 0;
  padding-top: 32px;
}
footer .container .the-and .footer_info .tel_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 53px;
}
footer .container .the-and .footer_info .tel_wrap a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
}
footer .container .the-and .footer_info .email_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 31px;
}
footer .container .the-and .footer_info .email_wrap a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
}
footer .container .the-and .quick_link h5 {
  padding-top: 10px;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
  margin: 0;
}
footer .container .the-and .quick_link ul {
  padding-left: 0;
  padding-top: 35px;
}
footer .container .the-and .quick_link ul li {
  padding-top: 5px;
  list-style: none;
}
footer .container .the-and .quick_link ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2b2b2b;
  padding-top: 5px;
}
footer .container .the-and .discovery h5 {
  padding-top: 10px;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #2b2b2b;
  margin: 0;
}
footer .container .the-and .discovery ul {
  padding-left: 0;
  padding-top: 35px;
}
footer .container .the-and .discovery ul li {
  padding-top: 5px;
  list-style: none;
}
footer .container .the-and .discovery ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2b2b2b;
  padding-top: 5px;
}
footer .container .the-and .subscribe h5 {
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #0b090a;
}
footer .container .the-and .subscribe .subscribe_form {
  position: relative;
  margin-top: 25px;
}
footer .container .the-and .subscribe .subscribe_form .subscribe_input {
  width: 350px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.05);
  border: none;
  padding-left: 20px;
}
footer .container .the-and .subscribe .subscribe_form .subscribe_btn {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 50px;
  height: 50px;
  background-color: #3a0ca3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
footer .container .the-and .follow {
  padding-top: 32px;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29.1px;
  color: #0b090a;
  margin: 0;
}
footer .container .the-and .social-network {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

/*# sourceMappingURL=index.css.map */
